# Postgres bootstrap (root/superuser)
POSTGRES_USER=****
POSTGRES_PASSWORD=****
POSTGRES_DB=postgres

# Application DB config
APP_DB=rampbook_db
APP_USER=****
APP_PASSWORD=****

DB_HOST=localhost
DB_PORT=5432